.main_page{
margin:0;
  padding:0;
}
.main_page_conteiner{
  display: flex;
  height: 90vh;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  //flex-direction: column;



  .main_page_header{
    order: 1;
    flex-basis: 100%;
    height: 20vh;
    flex-grow: 1;
  }

  .main_page_aside_left{
    background-color: #b530b8;
    flex-grow: 1;

    height: 40vh;
    order: 2;

  }

  .main_page_main{
    background-color: #0449e0;
    flex-grow: 1;
    height: 40vh;

    order: 3;

  }
  .main_page_aside_right{
    background-color: #18671f;

    flex-grow: 1;
    order: 4;

    height: 40vh;


  }
  .main_page_footer{
    order: 5;
    flex-basis: 100%;
    flex-grow: 1;
    height: 20vh;


  }
}
.item{
  padding: 40px;
  font-size: 25px;
  border: 1px solid black;


}

